img.col-md-6.nutLabel {
 float: right;
height: 400px ;
max-width: 50%;
}

.mainContent {
	display:flex;
	height: 400px;
}

input[type="radio"]{
  margin: 0 10px 15px 10px;
}

ul {
	list-style-type: none;
}
li:last-child{
	margin-bottom: 10px;
}

#quizResults{
	text-align: center;
}

.finishEarly, 
header,
.calculateCarbs,
.btnReset, 
#timer {
	margin: 4px 0 4px 0;
	border: 2px solid darkblue;
	background-color: darkcyan;
	color: white;
	padding: 0px -15px 0px -15px;
}
#timer{
	text-align: center;
}

p, h1, h2, h3, h4, h5, h6, li {
	font-family: 'Merriweather', serif;
	margin: 5px 0 5px 0;
	padding: 4px 0 4px 0;
}

h3 {
	margin-left: 7px;
}

#instructionsWrap {
	border: 2px solid goldenrod;
	text-align: center;
}

.liAlt {
	border: 2px solid goldenrod;
}
ul {
	padding: 0px;
}