img.col-md-6.nutLabel {
 float: right;
height: 400px ;
}

.mainContent {
	display:flex;
	height: 400px;
}
/* class to remove on click of the start  */
.hidden {
	display: none;
}

/* We will toggle this class on on click of the button class to show the choice */
.selected {
border: 3px solid blue;
};

.correctBorder {
	border: 4px solid lime;
};

.wrongBorder{
	border: 4px solid red;
};